.carousel {
  overflow: hidden;
  width: 500px;
  height: 500px;
  position: relative;
}
.carousel .wrapper {
  display: flex;
  position: absolute;
  left: 0;
  transition: all 0.5s ease;
}
.carousel .left {
  position: absolute;
  top: 50%;
  font-size: 50px;
  left: 2%;
  background-color: rgba(196, 238, 238, 0.5);
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}
.carousel .left:hover {
  background-color: #c4eeee;
  transition: all 0.2s ease;
}
.carousel .right {
  position: absolute;
  top: 50%;
  font-size: 50px;
  right: 2%;
  background-color: rgba(196, 238, 238, 0.5);
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}
.carousel .right:hover {
  background-color: #c4eeee;
  transition: all 0.2s ease;
}
